* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Fonts */
@font-face {
  font-family: "Knockout-Regular";
  src: url(../Fonts/Knockout-Regular.otf);
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 32px;
  color: #2e2e2e;
  margin-bottom: 32px;
  line-height: 1;
  font-family: "Knockout-Regular";
}

h4 {
  font-size: 20px;
  color: #2e2e2e;
  margin-bottom: 24px;
  line-height: 1;
  font-family: "Knockout-Regular";
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  background-image: linear linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.5));
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 150px 0;
  position: relative;
  justify-content: center;
}
.header .header__back-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .screen {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #040404;
  opacity: 0.2;
  mix-blend-mode: overlay;
}
.header .menu {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.header .menu .logo .logo-icono {
  width: 120px;
}
.header .menu .burger-menu {
  width: 25px;
  display: none;
}
.header .menu .navbar .btn-close {
  display: none;
}
.header .menu .navbar .navbar-list li {
  position: relative;
  float: left;
}
.header .menu .navbar .navbar-list li a {
  font-size: 16px;
  color: #ffffff;
  display: block;
  font-weight: 500;
  text-decoration: none;
  padding: 20px;
}
.header .menu .navbar .navbar-list li a:hover {
  color: #ffe1b5;
}
.header .header-content .header-txt {
  width: 100%;
  text-align: center;
}
.header .header-content .header-txt h1 {
  color: #ffffff;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  font-family: "Knockout-Regular";
  margin-bottom: 32px;
}
.header .header-content .header-txt span {
  color: #f8ad3b;
}
.header .header-content .header-txt p {
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 0 200px;
  margin-bottom: 32px;
}
.header .header-content .header-txt .header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-content .header-txt .header-buttons .header-btn-1 {
  display: inline-block;
  background-color: #F8AD3B;
  border: 3px solid #F8AD3B;
  padding: 8px 24px;
  width: 200px;
  margin: 0 10px;
  border-radius: 25px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
.header .header-content .header-txt .header-buttons .header-btn-1:hover {
  background-color: #f8ba5e;
  border: 3px solid #ffe1b5;
}
.header .header-content .header-txt .header-buttons .header-btn-2 {
  display: inline-block;
  background-color: rgba(57, 57, 57, 0.5058823529);
  border: 3px solid #ffffff;
  padding: 8px 24px;
  width: 200px;
  margin: 0 10px;
  border-radius: 25px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
.header .header-content .header-txt .header-buttons .header-btn-2:hover {
  background-color: #f8ba5e;
  border: 3px solid #ffe1b5;
}

.about {
  padding: 60px 0;
  display: flex;
  align-items: center;
  gap: 40px;
}
.about .about-txt {
  flex-basis: 50%;
}
.about .about-txt h2 {
  color: #2e2e2e;
  margin-bottom: 32px;
}
.about .about-txt h2 span {
  color: #f8ad3b;
}
.about .about-txt p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #2e2e2e;
  margin-bottom: 40px;
}
.about .about-txt h4 {
  font-size: 20px;
  color: #2e2e2e;
  margin-bottom: 24px;
  line-height: 1;
  font-family: "Knockout-Regular";
}
.about .about-txt .about-txt__info {
  display: flex;
  gap: 24px;
}
.about .about-txt .about-txt__info .about-txt__info-box {
  align-items: center;
  text-align: center;
}
.about .about-txt .about-txt__info .about-txt__info-box .about-txt_number {
  font-size: 36px;
  color: #f8ad3b;
  line-height: 1;
  margin-bottom: 0px;
  font-family: "Knockout-Regular";
}
.about .about-txt .about-txt__info .about-txt__info-box .about-txt_tip {
  font-size: 11px;
  color: #2e2e2e;
  line-height: 1;
  margin-bottom: 8px;
  font-weight: 600;
}
.about .about-img {
  flex-basis: 50%;
}
.about .about-img img {
  width: 500px;
}

.drinks {
  width: 100%;
  padding: 60px 0;
  align-items: center;
  text-align: center;
  background-color: #040404;
}
.drinks .drinks-content {
  padding: 0;
}
.drinks .drinks-content h2 {
  color: #ffffff;
  margin-bottom: 60px;
}
.drinks .drinks-content h2 span {
  color: #f8ad3b;
}
.drinks .drinks-content .drinks-ref {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.drinks .drinks-content .drinks-ref .drinks-ref__cocktail img {
  margin-bottom: 24px;
  border-radius: 24px;
}
.drinks .drinks-content .drinks-ref .drinks-ref__cocktail h3 {
  font-size: 18px;
  font-family: "Knockout-Regular";
  color: #ffffff;
}

.delivery {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.delivery .delivery-content {
  display: flex;
  align-items: center;
  gap: 80px;
}
.delivery .delivery-content .delivery-img {
  flex-basis: 50%;
}
.delivery .delivery-content .delivery-img img {
  width: 500px;
}
.delivery .delivery-content .delivery-txt {
  flex-basis: 50%;
}
.delivery .delivery-content .delivery-txt h2 span {
  color: #f8ad3b;
}
.delivery .delivery-content .delivery-txt p {
  margin-bottom: 40px;
}
.delivery .delivery-content .delivery-txt .delivery-btn {
  display: inline-block;
  background-color: #ffffff;
  border: 3px solid #f8ad3b;
  padding: 8px 24px;
  width: 200px;
  border-radius: 25px;
  color: #2e2e2e;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}
.delivery .delivery-content .delivery-txt .delivery-btn:hover {
  background-color: #f8ba5e;
  border: 3px solid #ffe1b5;
  color: #ffffff;
}
.delivery .delivery-brands {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}
.download {
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}
.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border-radius: 25px;
  padding: 30px 40px;
}
.wrapper form h1 {
  font-size: 24px;
  font-family: "Knockout-Regular";
  text-align: center;
}
.wrapper form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.wrapper form .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  padding: 20px 45px 20px 20px;
}
.wrapper form .input-box input::placeholder {
  color: #ffffff;
}
.wrapper form .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper form .remember-psd {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
}
.wrapper form .remember-psd label input {
  accent-color: #ffffff;
  margin-right: 3px;
}
.wrapper form .remember-psd a {
  color: #ffe1b5;
  text-decoration: none;
}
.wrapper form .remember-psd a:hover {
  text-decoration: underline;
}
.wrapper form .btn {
  width: 100%;
  height: 45px;
  background: #f8ad3b;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}
.wrapper form .register {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 10px;
}
.wrapper form .register p {
  color: #ffffff;
}
.wrapper form .register p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
.wrapper form .register p a:hover {
  text-decoration: underline;
}

.comunity-video {
    width: 500px;
    max-width: 100%;
    border-radius: 30px;
    display: flex;
}

.footer {
  background-color: #040404;
  padding-top: 60px;
  padding-bottom: 16px;
}
.footer .footer-content {
  padding: 0;
}
.footer .footer-content .footer-suscribe {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}
.footer .footer-content .footer-suscribe h4 {
  color: #ffffff;
  line-height: 1.4;
  font-size: 18px;
  flex-basis: 60%;
  margin-bottom: 0;
}
.footer .footer-content .footer-suscribe h4 span {
  color: #f8ad3b;
}
.footer .footer-content .footer-suscribe .input-group {
  flex-basis: 40%;
}
.footer .footer-content hr {
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
  display: flex;
}
.footer .footer-content .footer-links {
  display: flex;
  gap: 60px;
  margin: 32px 0;
}
.footer .footer-content .footer-links .footer-links__list {
  width: 160px;
}
.footer .footer-content .footer-links .footer-links__list h5 {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 32px;
}
.footer .footer-content .footer-links .footer-links__list ul {
  margin: 24px 0;
}
.footer .footer-content .footer-links .footer-links__list ul li {
  margin: 12px 0;
}
.footer .footer-content .footer-links .footer-links__list ul li a {
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  line-height: 1;
}
.footer .footer-content .footer-links .footer-links__list ul li a:hover {
  color: #ffe1b5;
  text-decoration: underline;
}
.footer .footer-content .footer-links .footer-links__list .footer-links__media {
  display: flex;
  gap: 12px;
}
.footer .footer-content .footer-links .footer-links__list .footer-links__media li a .media-icon {
  width: 24px;
}
.footer .footer-content .footer-links .footer-links__logo a img {
  width: 150px;
}
.footer .footer-content .footer-rights {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.footer .footer-content .footer-rights h6 {
  color: #505050;
  font-size: 12px;
}

@media screen and (max-width: 991px) {
  .header .menu {
    padding: 20px;
  }
  .header .navbar {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
    gap: 1rem;
    position: absolute;
    top: -10px;
    right: 0;
    height: 100vh;
    width: 65%;
    background: linear-gradient(#040404 60%, #1d1d1d);
    padding: 45px 40px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .header .visible {
    opacity: 1;
    visibility: visible;
    transform: translatex(9%);
    transition: all 1s;
  }
  .header .menu .navbar .navbar-list {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .header .menu .navbar .navbar-list li a {
    font-size: 18px;
    font-weight: 600;
  }
  .header .menu .navbar .btn-close, .header .menu .burger-menu {
    width: 32px;
    display: block;
    padding: 0;
    border: 0;
    color: #ffffff;
    background-color: rgba(248, 172, 59, 0);
  }
  .header .menu .navbar .btn-close {
    font-size: 20px;
  }
  .header .menu .burger-menu i {
    display: block;
    font-size: 32px;
  }
  .header {
    padding: 50px 30px;
  }
  .header .header-content .header-txt {
    text-align: center;
    padding: 0;
  }
  .header .header-content .header-txt h1 {
    color: #ffffff;
    font-size: 50px;
    line-height: 50px;
    font-family: "Knockout-Regular";
    margin-top: 60px;
    margin-bottom: 32px;
  }
  .header .header-content .header-txt p {
    padding: 0;
  }
  .about {
    padding: 30px;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    margin-top: 32px;
  }
  .about .about-txt .about-txt__info {
    justify-content: center;
  }
  .drinks {
    padding: 40px;
  }
  .drinks .drinks-content .drinks-ref {
    grid-template-columns: repeat(2, 1fr);
  }
  .delivery {
    padding: 30px;
  }
  .delivery .delivery-content {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .delivery .delivery-brands {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper {
    max-width: 90%;
    margin-top: 80px;
  }
  .footer {
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  .footer .footer-content {
    flex-direction: column;
    margin: 0;
  }
  .footer .footer-content .footer-suscribe {
    flex-direction: column;
    text-align: center;
    gap: 24px;
    align-items: center;
  }
  .footer .footer-content .footer-links {
    grid-template-columns: repeat(1fr, 1fr);
    flex-wrap: wrap;
    gap: 24px;
  }
  .footer .footer-content .footer-rights {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer .footer-content .footer-links .footer-links__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 522px) {
  h2 {
    font-size: 26px;
  }
 .header .header-content .header-txt h1 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-family: "Knockout-Regular";
    margin-top: 80px;
    margin-bottom: 32px;
  }
  .header .header-content .header-txt .header-buttons {
    flex-direction: column;
    gap: 16px;
  }
  .header .header-content .header-txt .header-buttons .header-btn-1, .header .header-content .header-txt .header-buttons .header-btn-2 {
    width: 90%;
  }
  .about .about-txt .about-txt__info {
    justify-content: space-between;
  }
  .drinks .drinks-content .drinks-ref {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
  .wrapper {
    max-width: 90%;
    margin-top: 80px;
    padding: 30px 8%;
  }
  .wrapper form .remember-psd {
    flex-direction: column;
    gap: 4px;
  }
}
@media screen and (min-width: 1100px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
