.header {
    background-image: linear linear-gradient(rgba(0, 0, 0, 0.58), rgba(0,0,0,0.5));
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 150px 0;
    position: relative;
    justify-content: center;
    .header__back-video {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .screen {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: $dark;
        opacity: 0.2;
        mix-blend-mode: overlay;
    }
    .menu {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        .logo {
            .logo-icono {
                width: 120px;
            }
        }
        .burger-menu {
            width: 25px;
            display: none;
        }
        .navbar {
            .close-menu {
                display: none;
            }
            ul {
                li {
                    position: relative;
                    float: left;
                    a {
                        font-size: 16px;
                        color: $white;
                        display: block;
                        font-weight: 500;
                        text-decoration: none;
                        padding: 20px;
                        &:hover {
                            color: #ffe1b5;
                        }
                    }
                }
            }
        }
    }
    .header-content {
        .header-txt {
            width: 100%;
            text-align: center;
            h1 {
                color: $white;
                font-size: 70px;
                line-height: 70px;
                text-transform: uppercase;
                font-family: "Knockout-Regular";
                margin-bottom: 32px;
            }
            span {
                color: $orange;
            }
            p {
                font-size: 16px;
                color: rgb(255, 255, 255);
                padding: 0 200px;
                margin-bottom: 32px;
            }
            .header-buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                .header-btn-1 {
                    display: inline-block;
                    background-color: #F8AD3B;
                    border: 3px solid #F8AD3B;
                    padding: 8px 24px;
                    width: 200px;
                    margin: 0 10px;
                    border-radius: 25px;
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: 600;
                    &:hover {
                        background-color: #f8ba5e;
                        border: 3px solid #ffe1b5;
                    }
                }
                .header-btn-2 {
                    display: inline-block;
                    background-color: #39393981;
                    border: 3px solid #ffffff;
                    padding: 8px 24px;
                    width: 200px;
                    margin: 0 10px;
                    border-radius: 25px;
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: 600;
                    &:hover {
                        background-color: #f8ba5e;
                        border: 3px solid #ffe1b5;
                    }
                }
            }
        }
    }
}